.ingredient-box {
  margin-top: 20px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.ingredient-box input {
  flex: 1;
  min-width: 250px;
  padding: 12px 14px;
  border-radius: 8px;
  border: 1px solid #ddd;
  font-size: 14px;
  outline: none;
}

.ingredient-box input:focus {
  border-color: tomato;
}

.ingredient-box button {
  padding: 12px 18px;
  border: none;
  background-color: tomato;
  color: white;
  font-weight: 700;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.ingredient-box button:hover {
  background-color: #e11d1d;
}
